
 
.star-icon {
    color: #ddd;
    font-size: 34px;
    position: relative;
}

.star-icon.full:before {
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF8 */
    position: absolute;
    left: 0;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
 }